* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    z-index: 9999;
}

.to-top img {
    width: 50px;
    height: 50px;
    cursor: pointer
}

body {
    background-image: url(../img/cloud.svg);
    background-attachment: fixed;
    -webkit-animation: fake 1s infinite;
    animation: fake 1s infinite;
}

nav {
    background: rgba(103, 9, 10, 0.8);
    position: relative;
    padding: 15px 0;
    z-index: 10;
}

.menu_container {
    display: flex;
    margin: 0 auto;
    max-width: 1024px;
}

/*.menu {
    display: flex;
    margin: 0 auto;
    max-width: 1024px;
}

.menu ul {
    display: flex;
    width: 100%;
    list-style: none;
    padding: 0 25px;
    justify-content: space-around;
}

.menu ul li {
    display: flex;
    padding: 0 10px;
    font-size: 24px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.menu ul li img {
    width: 120px;
}

.menu ul li a {
    color: #ffd688;
    text-decoration: none;
    /*宣告HTML連結消除底線
}

.menu ul li a:hover {
    color: #ffff2b;
}*/
ul {
    /* 取消ul預設的內縮及樣式 */
    margin: 0;
    padding: 0;
    list-style: none;
}

/*導覽列start*/
.menu_container {
    display: flex;
    margin: 0 auto;
    max-width: 1024px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    z-index: 1;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-size: 24px;
    font-weight: bolder;
}

nav ul li:nth-child(4) {
    margin-left: 250px;
}

nav ul li a {
    color: #ffd688;
    font-weight: bold;
    text-decoration: none;
}

.logo {
    position: absolute;
    width: 150px;
    height: 100px;
    left: 43%;
    z-index: 2;
}

.logo img {
    width: 100%;
    margin: 0 auto;
}

#menu {
    display: none;
}

label {
    color: #ffd688;
    border: 1px solid;
    border-radius: 10px;
    font-size: 2em;
    padding: 10px;
    display: none;
}

.menuList li a:hover {
    color: #ffff2b;
}

.menuList li:hover > ul {
    /* 滑鼠滑入展開次選單*/
    display: flex;
}

.drop-down-menu {
    position: relative
}

.drop-down-menu ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fbfbf0;
    z-index: 99;
    left: 30px;
    top: 70px;
    width: 200px;
}

.drop-down-menu ul li {
    width: 100%;
    height: 60px;
    background: rgba(103, 9, 10, 0.8);
    border-bottom: 1px solid rgba(255, 215, 136, 1);
}

.drop-down-menu ul li:hover {
    background: rgba(103, 9, 10, 0.9);
}

.drop-down-menu ul li:last-child {
    border-bottom: none;
}

.drop-down-menu ul {
    /*隱藏次選單*/
    display: none;
}

/*導覽列end*/

/*輪播位置&大小*/
/*.slider_container {
    margin: 30px auto;
    width: 1000px;
    height: 500px;
    position: relative;
    border: 20px solid;    
    border-color: #fff;
    border-bottom-width: 100px;
    background-color: #f5f5f5;
    box-shadow: #666 0 0 5px;
}*/

.slider_container div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.rwd_slider_container_wrapper {
    position: relative;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.rwd_slider_container {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    padding-bottom: 40%;
    margin: 0 auto;
    box-sizing: border-box;
    /*padding-bottom: calc(70% + 100px);*/
}

.rwd_slider_container .slider_container {
    margin: 0;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    background-color: transparent;
}

.rwd_slider_container .slider_container div img {
    width: 100%;
    line-height: 0;
}

.rwd_slider_container .slider_container span {
    top: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*輪播週期*/
.slider_container div {
    -webkit-animation: round 40s linear infinite;
    /*輪播總時間長度*/
    animation: round 40s linear infinite;
}

@-webkit-keyframes round {

    /*每個圖5秒*/
    2.5% {
        opacity: 1;
        filter: alpha(opacity=100);
        /*淡入1秒*/
        /* 0 - 1秒 淡入*/
    }

    12.5% {
        opacity: 1;
        filter: alpha(opacity=100);
        /*顯示4秒*/
        /* 1- 5秒靜止*/
    }

    15% {
        opacity: 0;
        filter: alpha(opacity=0);
        /*淡出1秒/
        /* 5-6秒淡出*/
    }
}

@keyframes round {
    2.5% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }

    12.5% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }

    15% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

/*輪播圖片進場時間*/
.slider_container div:nth-child(8) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.slider_container div:nth-child(7) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.slider_container div:nth-child(6) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

.slider_container div:nth-child(5) {
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
}

.slider_container div:nth-child(4) {
    -webkit-animation-delay: 20s;
    animation-delay: 20s;
}

.slider_container div:nth-child(3) {
    -webkit-animation-delay: 25s;
    animation-delay: 25s;
}

.slider_container div:nth-child(2) {
    -webkit-animation-delay: 30s;
    animation-delay: 30s;
}

.slider_container div:nth-child(1) {
    -webkit-animation-delay: 35s;
    animation-delay: 35s;
}

/*最新消息start*/
.news {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 20 0px;
    font-weight: bold;
    text-align: center;
    /*    background-color: rgba(251, 251, 240, 0.6);*/
    border-radius: 50px;
}

.news h2 {
    font-size: 30px;
    color: #67090a;
    padding: 20 0px;
    margin-bottom: 10px;
    background-image: radial-gradient(30% 50%, #ffff2b, transparent);
}

.news_item div {
    padding: 10px;
    border-bottom: solid;
    border-width: thin;
    border-color: rgba(103, 9, 10, 0.7);
    ;
}

.news_item div a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    color: #67090a;
}

.news_item div a:hover {
    background: rgba(103, 9, 10, 0.7);
    border-radius: 20px;
    color: #ffff2b;
}

.news_item div a p {
    font-size: 20px;
}

.news_item div:last-child {
    /*    border-bottom: none;*/
}

.container_information {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: rgba(251, 251, 240, 0.6);
    justify-content: center;
    align-items: center;
    /*        border-radius: 50px;*/
}

.container_information h1 {
    color: rgba(103, 9, 10, 0.9);
    width: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 60 120px;
    background-image: radial-gradient(50% 30%, #ffff2b, transparent);
}

.container_information a {
    color: rgba(103, 9, 10, 0.9);
    text-decoration: none;
}

.container_information a:hover {
    background-image: linear-gradient(to left, rgba(255, 255, 0, 0.6), rgba(255, 147, 66, 0.6));
    color: rgba(103, 9, 10, 0.9);
    border-radius: 50px;
}

.information a {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    padding: 50 0px;
}

.infor-box li {
    border-bottom: 1px solid rgba(103, 9, 10, 0.9);
}

.infor-box li:last-child {
    border-bottom: none;
}

.information_left {
    width: 30%;
}

.information_left img {
    width: 100%;
    border-radius: 20px;
}

.information_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 20px;
}

.information_right h2 {
    font-size: 30px;
    font-family: "標楷體";
    font-weight: bolder;
    text-align: center;
    padding: 10 0px;
}

.information_right h3 {
    font-size: 22px;
    font-family: "標楷體";
    font-weight: bolder;
    text-align: center;
    padding-top: 30px;
}

.information_right p {
    padding-top: 50px;
    text-align: right;
}

.vs_box li {
    border-bottom: 1px solid rgba(103, 9, 10, 0.9);
}

.vs_box li:last-child {
    border-bottom: none;
}

.compare {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*  border-bottom: 1px solid rgba(103, 9, 10, 0.9);*/
    padding-bottom: 10px;
    width: 100%;

}

.before,
.after {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.before img,
.after img {
    width: 100%;
}

.before h2,
.after h2 {
    color: rgba(103, 9, 10, 0.9);
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding: 20 0px
}

.kind {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 20 0px;
    padding-top: 80px;
    text-align: center;
    /*    background-color: rgba(251, 251, 240, 0.6);*/
    border-radius: 50px;
}

.content {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
}

.content div {
    margin: 5px;
}

.complete {
    width: 100px;
}

.complete li {
    font-size: 24px;
    list-style: none;
}

.imgbox {
    background-color: chartreuse;
}

.imgbox img {
    width: 300px;
}

.intro {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 300px;
}

.intro img {
    width: 300px;
}

.box {
    border-radius: 20px;
    height: 60%;
    overflow: hidden;
}

.intro h3 {
    color: #67090a;
    font-size: 20px;
    font-weight: 700;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 30px;
}

.intro p {
    color: #67090a;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    padding: 10px;
    background-image: radial-gradient(50% 60%, #ffff2b, transparent);
}

.btn {
    width: 100px;
    margin: 10 auto;
    font-size: 20px;
    font-weight: 600;
    color: #ffff2b;
    background-color: rgba(103, 9, 10, 0.7);
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid rgba(103, 9, 10, 0);
    border-radius: 30px;


}

.btn:hover {
    color: #67090a;
    border: 2px solid;
    background-color: rgba(255, 255, 43, 0.7);
}

.about {
    position: relative;
    margin: 0 auto;
    max-width: 1024px;
    padding: 80 20px;
    text-align: center;
    /*    background-color: rgba(251, 251, 240, 0.6);*/
    border-radius: 50px;
    color: #67090a;
}

.about h1 {
    padding: 20px;
    font-size: 28px;
    background-image: radial-gradient(50% 50%, #ffff2b, transparent);
}

.about h1 b {
    font-weight: bolder;
}

.about p {
    padding-top: 10px;
    text-indent: 2em;
    font-size: 20px;
}

.container,
.category {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    background-color: rgba(251, 251, 240, 0.6);
    /*    border-radius: 50px;*/
}

.category_title h1,
.category_title h2 {
    font-size: 32px;
    font-weight: bolder;
    color: rgba(103, 9, 10, 0.9);
    margin: 20 auto;
    padding: 40px;
    width: 60%;
    background-image: radial-gradient(50% 38%, #ffff2b, transparent);
    border-radius: 50%;
}

.category_explan {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    width: 100%;
    padding-top: 20px;
}

.category_explan img {
    display: flex;
    width: 25%;
    margin: 0 20px;
}

.category_title h3 {
    margin: 10 0px;
    margin-bottom: 10px;
    color: #ffff2b;
    padding: 15px;
    font-size: 28px;
    font-weight: bolder;
    background-image: radial-gradient(30% 50%, rgba(254, 74, 73, 1), transparent);
    text-align: center;

}

.category_explan h3 {
    margin: 10 0px;
    color: #ffff2b;
    padding: 15 80px;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bolder;
    background-image: radial-gradient(50% 50%, rgba(254, 74, 73, 1), transparent);
    text-align: left;
}

.category_title p,
.category_explan p {
    text-align: center;
    font-size: 26px;
    font-weight: bolder;
    color: rgba(103, 9, 10, 0.9);
}

.category_title img {
    width: 80%;
    margin: 0 auto;
    border-radius: 30px;
    margin-bottom: 40px;
}

.case {
    display: flex;
    flex-direction: row;
    padding: 40 0px;
    width: 100%;
    align-items: center;
}

.case_content {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.case img {
    width: 100%;
    border-radius: 20px;
}

/*.case div {
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
}*/

.case h2 {
    color: #67090a;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    padding-top: 20px;
    margin: 0 auto;
}

.case h3 {
    color: #67090a;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0 auto;
}

.case p {
    color: #67090a;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    padding: 30 50px;
    background-image: radial-gradient(50% 50%, #ffff2b, transparent);
}

.title h1 {
    color: #67090a;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: "標楷體";
}

.title p {
    color: #67090a;
    font-size: 26px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 10px;
}

.picture img {
    width: 100%;
    padding: 10 0px;
}

.horizontal {
    padding: 0px;
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    flex-wrap: wrap;
}

.horizontal img {
    width: 48%;
    padding: 10px;
    border-radius: 30px;
}

.bell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bell img {
    width: 30%;
    border-radius: 30px;
    margin: 15 0px;
}

.other {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 0, 0.5), rgba(255, 147, 66, 0.7));
    border-radius: 20px;
    margin: 20 0px;
}

.other img {
    width: 80%;
    margin: 30 0px;
}

footer {
    padding-top: 10px;
    padding-bottom: 30px;
    background: rgba(103, 9, 10, 0.8);
    position: relative;
}

footer div {
    padding-top: 10px;
    max-width: 1024px;
    margin: 0 auto;
}

.keywords ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 500;
    color: #ffd688;
}

.keywords ul li {
    padding: 0px;
}

.keywords ul li a {
    color: #ffd688;
    text-decoration: none;
    /*宣告HTML連結消除底線*/
}

.keywords ul li a:hover {
    color: #ffff2b;
}

.contact {
    margin: 0 auto;
}

.contact ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    color: coral;
    font-size: 18px;
    color: #ffd688;
}

.copyright {
    display: flex;
    flex-direction: row;
}

.copyright ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.copyright ul li {
    font-size: 20px;
    color: #ffd688;
    padding-right: 5px;
    padding-left: 5px;
}

.copyright ul li b {
    font-weight: bold;
    color: #ffff2b;
}

.copyright ul li:last-child {
    font-size: 25px;
    color: #17a9fd;
    background-color: white;
    border-radius: 50%;
    padding: 0px;
    text-decoration: none;
}

/*種類start*/
.product_type {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 20 0px;
    padding-top: 60px;
    text-align: center;
    /*    background-color: rgba(251, 251, 240, 0.6);*/
}

.tab {
    font-weight: 900;
    font-size: 24px;
}

.worko-tabs {
    width: 100%;
}

.worko-tabs label {
    border-radius: 0px;
    color: rgba(103, 9, 10, 1);
    border: none;
}

.worko-tabs .state {
    position: absolute;
    left: -10000px;
}

.worko-tabs .flex-tabs {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
}

.worko-tabs .flex-tabs .tab {
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-height: 40px;
}

.worko-tabs .flex-tabs .panel {
    background-color: #ffd688;
    padding: 20px;
    /*        min-height: 300px;*/
    display: none;
    width: 100%;
    flex-basis: auto;
}

.worko-tabs .flex-tabs .panel img {
    padding: 30px;
    margin: 0 auto;
    width: 40%;
}

.worko-tabs .tab {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    background-color: rgba(255, 214, 136, 0.6);
    cursor: hand;
    cursor: pointer;
    border-left: 10px solid rgba(103, 9, 10, 0.8);
}

.worko-tabs .tab:hover {
    background-color: rgba(255, 214, 136, 1);
}

#tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label,
#tab-four:checked ~ .tabs #tab-four-label,
#tab-five:checked ~ .tabs #tab-five-label,
#tab-six:checked ~ .tabs #tab-six-label {
    background-color: rgba(255, 214, 136, 1);
    cursor: default;
    border-left-color: #ffff2b;
}

#tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel,
#tab-four:checked ~ .tabs #tab-four-panel,
#tab-five:checked ~ .tabs #tab-five-panel,
#tab-six:checked ~ .tabs #tab-six-panel {
    display: block;
}

/*種類end*/

@media (max-width: 960px) {
    label {
        display: block;
    }

    label:hover {
        background: rgba(103, 9, 10, 0.8);
    }

    .menu_container {
        padding: 15 20px;
    }

    .logo {
        width: 120px;
        left: 40%;
        top: 0px;
    }

    .logo img {
        width: 100%;
    }

    nav ul {
        position: absolute;
        top: 99px;
        left: -100%;
        background: rgba(103, 9, 10, 0.8);
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 60%;
        height: 420px;
    }

    #menu:checked ~ ul {
        left: 0;
    }

    nav ul li {
        margin: 0 !important;
        width: 100%;
        height: 70px;
    }

    nav ul li a {
        width: 100%;
        /*      border: 1px solid rgba(255, 215, 136, 1);*/
        padding: 15 15px;
        margin: 0;
    }

    nav ul li a:hover {
        color: #ffff2b;
        background: rgba(103, 9, 10, 0.9);
    }

    .drop-down-menu ul {
        left: 150px;
        top: 0px;
        height: 190px;
    }

    .drop-down-menu ul li {
        background: rgba(103, 9, 10, 0.9);
        border-bottom: none;
        height: 70px;
        font-size: 20px;
    }

    .news_item div a {
        display: flex;
        flex-direction: column;
    }

    .news_item div a p {
        font-size: 16px;
        padding: 3px;
    }

    .news h2,
    .intro p {
        font-size: 26px;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .intro {
        padding-bottom: 50px;
        border-bottom: 1px dashed;
    }

    .intro:last-child {
        border-bottom: none;
    }


    /*    .case div {
        height: 200px;
        overflow: hidden;
        border-radius: 20px;
    }*/
    .case {
        flex-direction: column;
        padding: 0px;
        width: 100%;
    }

    .case_content {
        border-bottom: 2px solid rgba(103, 9, 10, 0.7);
    }

    .case p {
        padding: 15 50px;
        font-size: 20px;
        background-image: radial-gradient(30% %, #ffff2b, transparent);
    }

    .case h3 {
        font-size: 16px;
    }

    .title h1 {
        padding: 30 40px;
        font-size: 28px;
        background-image: radial-gradient(50% 40%, #ffff2b, transparent);
    }

    .title p {

        font-size: 18px;
    }

    .horizontal {
        flex-direction: column;
    }

    .horizontal img {
        width: 95%;
        border-radius: 0px;
    }

    .bell {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .bell img {
        width: 40%;
        border-radius: 20px;
        margin: 15 0px;
    }

    .category_title h1,
    .category_title h2 {
        margin: 0px;
        padding: 40 0px;
        font-size: 22px;
        width: 100%;
    }

    .category_explan {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 50px;
        width: 100%;
        padding-top: 10px;
    }

    .category_explan img {
        padding-bottom: 20px;
        width: 30%;
    }

    .category_title h3 {
        margin: 0px;
        padding: 10 20px;
        color: #ffff2b;
        font-size: 22px;
        font-weight: bolder;
        background-image: radial-gradient(50% 50%, rgba(254, 74, 73, 1), transparent);
        text-align: center;
    }

    .category_explan h3 {
        margin: 0px;
        padding: 10 60px;
        color: #ffff2b;
        font-size: 22px;
        font-weight: bolder;
        background-image: radial-gradient(50% 50%, rgba(254, 74, 73, 1), transparent);
        text-align: center;
    }

    .category_title p,
    .category_explan p {

        font-size: 20px;
        font-weight: bolder;
        color: rgba(103, 9, 10, 0.9);
        text-align: center;
    }

    .category_title img {
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
        margin-bottom: 40px;
    }

    .container_information h1 {
        width: 50%;
        font-size: 26px;
        text-align: center;
    }

    .information {
        flex-direction: column;
        position: relative;
        padding: 20 0px;
        border-bottom: 1px solid rgba(103, 9, 10, 0.9);
    }

    .information_left {
        width: 70%;
        margin: 0 auto;
    }

    .information_right {
        width: 86%;
        margin: 0 auto;
    }

    .information_right h2 {
        padding-top: 20px;
        font-size: 24px;
        align-items: flex-start;
    }

    .information_right h3 {
        font-size: 20px;
        align-items: center;
        padding: 10 0px;
    }

    .information_right p {
        padding: 10 0px;
    }

    .compare {
        flex-direction: column;
    }

    .about h1 {
        font-size: 26px;
    }

    .keywords ul {
        flex-direction: column;
        font-size: 16px;
    }

    .keywords ul li {
        padding: 2px;
    }

    .keywords span {
        display: none;
    }

    .contact ul {
        padding: 10px;
        flex-direction: column;
    }

    .contact ul li {
        padding: 2px;
    }

    .copyright ul {
        flex-direction: column;
    }

    .copyright ul li {
        padding: 2px;
    }
}

@media (max-width: 600px) {

    .category_explan h3 {
        font-size: 20px;
        font-weight: bolder;
        background-image: radial-gradient(50% 50%, rgba(254, 74, 73, 1), transparent);
        text-align: center;
    }

    .category_explan p {
        font-size: 18px;
    }

    .category_explan img {
        width: 50%;
    }

    /*種類start*/
    .worko-tabs {
        width: 90%;
    }

    .flex-tabs {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        width: 100%;
    }

    .flex-tabs .tab {
        background-color: rgba(255, 214, 136, 0.6);
        border-bottom: 1px solid rgba(103, 9, 10, 0.8);
    }

    .flex-tabs .tab:last-of-type {
        border-bottom: none;
    }

    .flex-tabs #tab-one-label {
        -webkit-box-ordinal-group: 2;
        order: 1;
    }

    .flex-tabs #tab-two-label {
        -webkit-box-ordinal-group: 4;
        order: 3;
    }

    .flex-tabs #tab-three-label {
        -webkit-box-ordinal-group: 6;
        order: 5;
    }

    .flex-tabs #tab-four-label {
        -webkit-box-ordinal-group: 8;
        order: 7;
    }

    .flex-tabs #tab-five-label {
        -webkit-box-ordinal-group: 10;
        order: 9;
    }

    .flex-tabs #tab-six-label {
        -webkit-box-ordinal-group: 12;
        order: 11;
    }

    .flex-tabs #tab-one-panel {
        -webkit-box-ordinal-group: 3;
        order: 2;
    }

    .flex-tabs #tab-two-panel {
        -webkit-box-ordinal-group: 5;
        order: 4;
    }

    .flex-tabs #tab-three-panel {
        -webkit-box-ordinal-group: 7;
        order: 6;
    }

    .flex-tabs #tab-four-panel {
        -webkit-box-ordinal-group: 9;
        order: 8;
    }

    .flex-tabs #tab-five-panel {
        -webkit-box-ordinal-group: 11;
        order: 10;
    }

    .flex-tabs #tab-six-panel {
        -webkit-box-ordinal-group: 13;
        order: 12;
    }

    .worko-tabs .flex-tabs .panel img {
        width: 80%;
    }

    #tab-one:checked ~ .tabs #tab-one-label,
    #tab-two:checked ~ .tabs #tab-two-label,
    #tab-three:checked ~ .tabs #tab-three-label,
    #tab-four:checked ~ .tabs #tab-four-label,
    #tab-five:checked ~ .tabs #tab-five-panel,
    #tab-six:checked ~ .tabs #tab-six-panel {
        border-bottom: none;
    }

    #tab-one:checked ~ .tabs #tab-one-panel,
    #tab-two:checked ~ .tabs #tab-two-panel,
    #tab-three:checked ~ .tabs #tab-three-panel,
    #tab-four:checked ~ .tabs #tab-four-panel,
    #tab-five:checked ~ .tabs #tab-five-panel,
    #tab-six:checked ~ .tabs #tab-six-panel {
        border-bottom: 1px solid rgba(103, 9, 10, 0.8);
    }

    /*種類end*/
}
